/*External Styling*/

/*Type Selector*/
h1 {
	color:green !important;
	text-align: center;
	font-size: 2rem;
}

h3 {
	letter-spacing: 25px;
}

body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color:white;
}

div {
	display: inline-block;
	float: right;
}

h2 {
	font-size:1.5rem;
}

ol {
	list-style-type: none;
}

/*Universal Selector*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector*/
/*#zuitt-motto { 
	letter-spacing: 5px;*/
}

/*Class Selector*/
.offering-class{
	text-transform: uppercase;
}

/*Attribute Selector*/
[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*Selector Combinators*/

/*Adjacent Sibling Selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h2 + form {
	text-align: center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 185px;
	border: 2px solid black;
	left: 37.5%;
}

/*Child Selector*/
#bootcamp_learning_list > li {
	color:#C51592;
}

/*General Sibling Selector*/
h2 ~ a {
	text-decoration: none;
}

/*Descendant Selector*/
#register label {
	color:rgb(128,0,0);
}

a:hover {
	background-color: #b4d6de;
}

section {
	height: 100vh;
	text-align: center;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px ;
}