/*Universal Selector*/
* {
	font-family: Calibri;
	font-size:20px;
}

#external_styling {
	color: yellow;
}

/*Type Selector*/
h1 {
	font-size: 2rem;
}

/*ID Selector*/
#header_allcaps {
	text-transform: uppercase;
}

/*Class Selector*/
.languages {
	background-color: lightblue;
}

/*Attribute Selector*/
[align] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*Descendant Selector*/
section img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

/*Adjacent Sibling Selector*/
img + ol {
	list-style-type: none;
/*	letter-spacing: 15px;*/
}

/*General Sibling Selector*/
#first_section ~ #sixth_section {
	text-align: center;
}

/*Child Selector*/
#other_things > li {
	letter-spacing: 15px;
}